a {
  text-decoration: none;
}

.App {
  position: relative;
  font-family: "Roboto", serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

  .NavBar {
    a {
      padding-right: 20px;
      font-size: 20px;
    }
    .logOut {
      transform: translateY(-2px);
    }
  }

  .input {
    margin: 15px 0;
  }
}
