a {
  text-decoration: none;
}

.App {
  position: relative;
  font-family: "Roboto", serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;

  .NavBar {
    a {
      padding-right: 20px;
      font-size: 20px;
    }
    .logOut {
      transform: translateY(-2px);
    }
  }

  .Login .input {
    margin: 15px 0;
  }

  .User {
    span {
      display: inline-block;
      min-width: 100px;
    }
    div {
      border: 1px solid #3f51b5;
      width: 40vw;
      min-width: 400px;
    }
  }

  .EditUser {
    .input {
      margin: 15px 0;
      span {
        display: inline-block;
        min-width: 150px;
      }
    }
  }
}
